@charset "UTF-8";

header {
    position: relative;
    height: 799px;
    .vartical {
        writing-mode: vertical-rl; //縦書き
    }
    .sub-title {
        position: absolute;
        top: 14.6%;//116.5/799
        left: 20.7%;//265.5.1280       
        font-size: 1.2vw;//1.6rem
        letter-spacing: 0;
   } 
   .header-logo {
       position: absolute;
       top: 17.4%;
       left: 15.4%;//197/1280
       font-size: 3.1vw;//4rem
       letter-spacing: 0;
       -webkit-text-stroke: 1px $gray;
   }
    nav {
        position: absolute;
        top: 60%;//480/799
        left: 14.3%;//182.5/1280
        ul {
            height: 160px;
            display:flex;
            flex-direction: column;
            justify-content:space-between;
            font-size: 1.4vw;//1.8rem
            letter-spacing: 0;
           
            li {
                display: inline-block;
                position: relative;
                text-decoration: none;
            }
            li::after {
                position: absolute;
                content: '';
                bottom: 0;
                left: 0;
                width: 0;
                height: 1px;
                background: white;
                transition: all 0.3s ease 0s;
            }
            li:hover {
                cursor: pointer;
            }
            li:hover::after {
                width: 100%;
            }
    
        }
        
        
    }
    .purple-wrap {
        background-color: $purple;
        width: 60.5%;
        height: 585px;
        position: absolute;
        top: 0;
        right: 0;
    }

   .first-v-pic-wrap {
    position: absolute;
    top: 10.5%;
    right: 0;
    width: 64.5%;//826/1280
    height: 618px;
    background-image: url(../img/tonkatsu.jpg);
    z-index: 10;
    background-size: cover;
 }

 .reserve-btn {
    position: absolute;
    bottom: 0.5%;//4/799
    left: 0.3%;//4/1280
    border: 1px solid #707070;
    width: 6.1%;//78/1280
    z-index: 10;
    height: 252px;
    margin: 0 auto;
    font-size: 1.0rem;
    color: $white;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    background: transparent linear-gradient(189deg, #BF0000 0%, #641616 70%, #3D0202 100%, #390000 100%) 0% 0% no-repeat padding-box;
    
}
.reserve-frame {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 6.7%;//86/1280
    height: 261px;
    background: transparent linear-gradient(189deg, #BF0000 0%, #641616 70%, #3D0202 100%, #390000 100%) 0% 0% no-repeat padding-box;
    border: none;
}


}

